<!doctype html>
<html>
<head>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43779970-1', 'textr.io');
      ga('send', 'pageview');

    </script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body{
            max-width:800px;
            margin: 30px auto;
        }
    </style>
    {% if not content %}
        <title>Text does not exist</title>
    {% else %}
        <title>{{ title }}</title>
    {% endif %}
</head>
<body>
{% if not content %}
    <h3>Text does not exist</h3>
    <a href="/">Add my Text</a>
{% else %}
    {{ content|safe }}
{% endif %}
</body>
</html>
